# VI
CONFIG_BUSYBOX_DEFAULT_VI=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_MAX_LEN=1024
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_COLON=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_YANKMARK=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_SEARCH=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_USE_SIGNALS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_DOT_CMD=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_READONLY=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_SETOPTS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_SET=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_WIN_RESIZE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_ASK_TERMINAL=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_UNDO_QUEUE_MAX=0
CONFIG_BUSYBOX_CONFIG_VI=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_MAX_LEN=2048
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_8BIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_COLON=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_COLON_EXPAND=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_SEARCH=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_DOT_CMD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_READONLY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_SETOPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_SET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_WIN_RESIZE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_ASK_TERMINAL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO_QUEUE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO_QUEUE_MAX=32
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_VERBOSE_STATUS=y

# TOP
CONFIG_BUSYBOX_DEFAULT_START_STOP_DAEMON=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_VI_SETOPTS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FAST_TOP=y
CONFIG_BUSYBOX_DEFAULT_TOP=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
CONFIG_BUSYBOX_DEFAULT_ASH_GETOPTS=y
CONFIG_BUSYBOX_CONFIG_START_STOP_DAEMON=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_SETOPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FAST_TOP=y
CONFIG_BUSYBOX_CONFIG_TOP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_INTERACTIVE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_SMP_CPU=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_DECIMALS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_SMP_PROCESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOPMEM=y
CONFIG_BUSYBOX_CONFIG_ASH_GETOPTS=y

# XARGS
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_ARGS_FILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_ARGS_FILE=y

# FIND
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_AMIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_ATIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_CMIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_CTIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_DELETE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EMPTY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXECUTABLE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXEC_OK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXEC_PLUS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_INUM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_LINKS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_QUIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_SAMEFILE=y
CONFIG_BUSYBOX_CONFIG_FINDFS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_AMIN=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_ATIME=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CMIN=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CONTEXT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CTIME=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_DELETE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EMPTY=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXECUTABLE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXEC_OK=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXEC_PLUS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_INUM=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_LINKS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_QUIT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_SAMEFILE=y
CONFIG_BUSYBOX_DEFAULT_FINDFS=y

# LZMA
CONFIG_BUSYBOX_CONFIG_FEATURE_LZMA_FAST=y

# LESS
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_BRACKETS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_FLAGS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_TRUNCATE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_MARKS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_REGEXP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_WINCH=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_ASK_TERMINAL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_DASHCMD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_LINENUMS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_RAW=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_ENV=y

# OTHERS
CONFIG_BUSYBOX_CONFIG_FEATURE_CATN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CATV=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CHOWN_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CP_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CUT_REGEX=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_NANO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_COMPAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DF_FANCY=y
CONFIG_BUSYBOX_CONFIG_DOS2UNIX=y
CONFIG_BUSYBOX_CONFIG_UNIX2DOS=y
CONFIG_BUSYBOX_CONFIG_NOHUP=y
CONFIG_BUSYBOX_CONFIG_PRINTENV=y
CONFIG_BUSYBOX_CONFIG_REALPATH=y
CONFIG_BUSYBOX_CONFIG_SPLIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SPLIT_FANCY=y
CONFIG_BUSYBOX_CONFIG_BASE32=y
CONFIG_BUSYBOX_CONFIG_BASE64=y
CONFIG_BUSYBOX_CONFIG_DIFF=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CROND_D=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CROND_CALL_SENDMAIL=y
CONFIG_BUSYBOX_CONFIG_TREE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SHOW_THREADS=y
CONFIG_BUSYBOX_CONFIG_LSOF=y
CONFIG_BUSYBOX_CONFIG_MPSTAT=y
CONFIG_BUSYBOX_CONFIG_PKILL=y
CONFIG_BUSYBOX_CONFIG_PSTREE=y
CONFIG_DROPBEAR_LOG_COMMANDS=y
CONFIG_DROPBEAR_ZLIB=y
